<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <section class="container footer">
        <div class="row bg-dark p-5">
            <div class=" col-12 col-lg-6"><h3 class="text-white">Brand Name</h3></div>
            <div class="col-12 col-lg-4 my-sm-5 text-white">
                <h4 class="mb-3">CONTACT</h4>
                <p>insert email here</p>
                <hr class="border">
                <p>Bangladesh Rungpuh</p>
                <p>Udakhali Gaibandah Kalir Bazar </p>
            </div>
    
            <div class="col-12 col-lg-2 text-white mt-2">
                <p class="text-bold">ABOUT US</p>
                <p class="text-bold">CURRENT SERIES</p>
                <p class="text-bold">THE HOUSE</p>
                <p class="text-bold">LOOKING BACK</p>
            </div>
            <div class="col-12 col-lg-12">
                <hr class="border">
                <p class="text-white">all right reserv </p>
            </div>
        </div>
    </section>

    <!-- bootstrap js cdn  -->
    <script src="bootstrap/bootstrap.min.js"></script>
</body>
</html>