h1{
    background-image: linear-gradient(to right, red , yellow);
}

.back-img span{
    visibility: hidden;
}
.c-margin{
    margin-top: -30px;
}
.c-round{
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.c-round-t{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.card-body span {
    display: block;
    margin: auto;
}
.card-body span i{
    color:blue;
    margin-left: 5px;
}